In [2]:
import pandas as pd
df = pd.read_csv('Tabel Authors Final Unikom.csv')

In [3]:
# cari nama ANGGA SETIYADI
result = df[df['fullname'].str.contains('MOHAMMAD ALI', na=False)]
result

,fullname,id_sinta,nidn,degree,major,faculty,sinta_score_overall,sinta_score_3yr,affil_score,affil_score_3yr,...,s_cited_document_scopus,s_h-index_scopus,s_i10_index_scopus,s_g-index_scopus,s_article_gscholar,s_citation_gscholar,s_cited_document_gscholar,s_h-index_gscholar,s_i10_index_gscholar,s_g-index_gscholar
135,MOHAMMAD ALI,6761166,0410059105,S1,Sastra Jepang,Fakultas Sastra,397,130,397,130,...,0,0,0,1,56,64,21,4,1,2

In [6]:
# cari nama anggota berdasarkan id_sinta
result_id_sinta = df[df['id_sinta'] == 258729]  # Ganti 123456 dengan id_sinta yang diinginkan
result_id_sinta

,fullname,id_sinta,nidn,degree,major,faculty,sinta_score_overall,sinta_score_3yr,affil_score,affil_score_3yr,...,s_cited_document_scopus,s_h-index_scopus,s_i10_index_scopus,s_g-index_scopus,s_article_gscholar,s_citation_gscholar,s_cited_document_gscholar,s_h-index_gscholar,s_i10_index_gscholar,s_g-index_gscholar
133,MOCHAMAD FAJAR WICAKSONO,258729,0416098601,D3,Teknik Komputer,Fakultas Teknik dan Ilmu Komputer,982,163,982,163,...,9,2,0,1,90,932,52,12,15,1