In [1]:
import pandas as pd

dfAuthors = pd.read_csv('Tabel Author Done.csv')
dfAuthors.head()

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness,nidn,programs_name,gelar_depan,gelar_belakang,Fakultas
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3.0,9.0,1.0,0.0,0.000000,0410036002,Ilmu Manajemen,Dr Ir,M.T,Fakultas Ekonomi dan Bisnis
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76.0,461.0,12.0,17.0,1.500000,0405047901,Teknik Informatika,NaN,"S.T, M.T",Fakultas Teknik dan Ilmu Komputer
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.3340,67.0,306.0,11.0,12.0,2.212121,0420028204,Manajemen Pemasaran,Dr,"S.P, M.M.",Fakultas Ekonomi dan Bisnis
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14.0,20.0,3.0,0.0,0.000000,0420017201,Desain Interior,NaN,"S.Sn, M.Sn",Fakultas Desain
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45.0,44.0,4.0,2.0,1.000000,0416126901,Ilmu Komunikasi,Ir,M.Kom,Fakultas Ilmu Sosial dan Ilmu Politik

In [2]:
# hapus kolom id_author, openalex_id, orcid, relevance_score, works_count, cited_by_count, h_index, i10_index, 2yr_mean_citedness, programs_name
dfAuthors = dfAuthors.drop(columns=['id_author', 'openalex_id', 'orcid', 'relevance_score', 'works_count', 'cited_by_count', 'h_index', 'i10_index', '2yr_mean_citedness', 'programs_name'])

dfAuthors.head()

,nama,nidn,gelar_depan,gelar_belakang,Fakultas
0,EDDY SURYANTO SOEGOTO,0410036002,Dr Ir,M.T,Fakultas Ekonomi dan Bisnis
1,IRAWAN AFRIANTO,0405047901,NaN,"S.T, M.T",Fakultas Teknik dan Ilmu Komputer
2,SENNY LUCKYARDI,0420028204,Dr,"S.P, M.M.",Fakultas Ekonomi dan Bisnis
3,CHERRY DHARMAWAN,0420017201,NaN,"S.Sn, M.Sn",Fakultas Desain
4,TARYANA SURYANA,0416126901,Ir,M.Kom,Fakultas Ilmu Sosial dan Ilmu Politik

In [4]:
# cek yang null nidn
dfAuthors[dfAuthors['nidn'].isnull()]

             nama nidn gelar_depan gelar_belakang         Fakultas
64  BUDI HERDIANA  NaN         NaN            NaN  Tidak Diketahui

In [6]:
# hapus budi herdiana
dfAuthors = dfAuthors[dfAuthors['nama'] != 'BUDI HERDIANA']

In [8]:
# cek yang null nidn
dfAuthors[dfAuthors['nama'].isnull()]

Empty DataFrame
Columns: [nama, nidn, gelar_depan, gelar_belakang, Fakultas]
Index: []

In [9]:
dfAuthors

,nama,nidn,gelar_depan,gelar_belakang,Fakultas
0,EDDY SURYANTO SOEGOTO,0410036002,Dr Ir,M.T,Fakultas Ekonomi dan Bisnis
1,IRAWAN AFRIANTO,0405047901,NaN,"S.T, M.T",Fakultas Teknik dan Ilmu Komputer
2,SENNY LUCKYARDI,0420028204,Dr,"S.P, M.M.",Fakultas Ekonomi dan Bisnis
3,CHERRY DHARMAWAN,0420017201,NaN,"S.Sn, M.Sn",Fakultas Desain
4,TARYANA SURYANA,0416126901,Ir,M.Kom,Fakultas Ilmu Sosial dan Ilmu Politik
...,...,...,...,...,...
238,HADI KUSUMAH,2019210012,NaN,NaN,Tidak Diketahui
239,YONGKI ALEXANDER TANNE,0406069202,NaN,"S.T, M.T",Fakultas Teknik dan Perencanaan
240,ZAINAL ARIFIN HASIBUAN,0024125904,Ir,Ph.D,Fakultas Teknik dan Ilmu Komputer
241,BAMBANG SISWOYO,0023036801,Ir,"M.Kom, M.Si, Ph.D",Fakultas Teknik dan Ilmu Komputer
242,NILUH AYU ANGGASWARI,0419059303,NaN,"S.I.Kom, M.I.Kom",Fakultas Ilmu Sosial dan Ilmu Politik

In [10]:
# hapus gelar_depan dan gelar_belakang
dfAuthors = dfAuthors.drop(columns=['gelar_depan', 'gelar_belakang'])

In [11]:
dfAuthors

                       nama        nidn                               Fakultas
0     EDDY SURYANTO SOEGOTO  0410036002            Fakultas Ekonomi dan Bisnis
1           IRAWAN AFRIANTO  0405047901      Fakultas Teknik dan Ilmu Komputer
2           SENNY LUCKYARDI  0420028204            Fakultas Ekonomi dan Bisnis
3          CHERRY DHARMAWAN  0420017201                        Fakultas Desain
4           TARYANA SURYANA  0416126901  Fakultas Ilmu Sosial dan Ilmu Politik
..                      ...         ...                                    ...
238            HADI KUSUMAH  2019210012                        Tidak Diketahui
239  YONGKI ALEXANDER TANNE  0406069202        Fakultas Teknik dan Perencanaan
240  ZAINAL ARIFIN HASIBUAN  0024125904      Fakultas Teknik dan Ilmu Komputer
241         BAMBANG SISWOYO  0023036801      Fakultas Teknik dan Ilmu Komputer
242    NILUH AYU ANGGASWARI  0419059303  Fakultas Ilmu Sosial dan Ilmu Politik

[242 rows x 3 columns]

In [ ]:
# export ke csv
dfAuthors.to_csv('Tabel Authors Local.csv', index=False, encoding='utf-8-sig')