In [19]:
import pandas as pd

authors = pd.read_csv('authors.csv')

# ubah column id menjadi id_author
authors.rename(columns={'id': 'id_author'}, inplace=True)

# hapus id_sinta, country, affiliation_name
authors.drop(columns=['id_sinta', 'country', 'affiliation_name'], inplace=True)

In [20]:
import pandas as pd

df = pd.read_csv('dosen_openalex_by_name_only.csv')

# ubah = dan " menjadi kosong 
df.replace({'=': '', '"': ''}, regex=True, inplace=True)

df

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3,9,1,0,0
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76,461,12,17,1.5
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.334,67,306,11,12,2.212121212121212
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14,20,3,0,0
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45,44,4,2,1
...,...,...,...,...,...,...,...,...,...,...
239,240,HADI KUSUMAH,https://openalex.org/A5046777516,NaN,1120.774,12,41,3,2,0
240,241,YONGKI ALEXANDER TANNE,https://openalex.org/A5070993779,https://orcid.org/0000-0002-0158-201X,1505.5566,17,21,2,1,1.2666666666666666
241,242,ZAINAL ARIFIN HASIBUAN,https://openalex.org/A5027993279,https://orcid.org/0000-0003-3307-915X,5976.2046,188,1203,17,36,6.035714285714286
242,243,BAMBANG SISWOYO,https://openalex.org/A5004210994,https://orcid.org/0000-0003-4476-6369,1878.6876,137,77,5,1,0.5
243,244,NILUH AYU ANGGASWARI,https://openalex.org/A5104881620,NaN,726.701,4,3,1,0,0.75

In [21]:
# cek open_alex id yang kosong count
df['openalex_id'].isnull().sum()

np.int64(5)

In [22]:
# cek open_alex id yang kosong
df[df['openalex_id'].isnull()]

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
79,SUSMINI INDRIANI L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,SURYATNO W SOEGOTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,ANNISA SUCI RAMADANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NANG PRIMADI TABRANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,MOCHAMAD EKKI HARDIAWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# id_author bernama Susmini, suryatno, annisa, nang primadi, mochhamad valuenya pindahkan ke nama lalu id_author diisi dengan kosong
df.loc[df['id_author'].isin(['SUSMINI INDRIANI L', 'SURYATNO W SOEGOTO', 'ANNISA SUCI RAMADANI', 'NANG PRIMADI TABRANI', 'MOCHAMAD EKKI HARDIAWA']), 'nama'] = df['id_author']
df.loc[df['id_author'].isin(['SUSMINI INDRIANI L', 'SURYATNO W SOEGOTO', 'ANNISA SUCI RAMADANI', 'NANG PRIMADI TABRANI', 'MOCHAMAD EKKI HARDIAWA']), 'id_author'] = ''

In [24]:
import numpy as np
# ubah empty string menjadi NaN (numpy NaN)
df['id_author'] = df['id_author'].replace('', np.nan)

# ubah kolom menjadi float agar bisa ditambahkan
df['id_author'] = pd.to_numeric(df['id_author'], errors='coerce')

# isi NaN dengan nilai sebelumnya + 1
for i in range(len(df)):
    if pd.isna(df.loc[i, 'id_author']):
        df.loc[i, 'id_author'] = df.loc[i-1, 'id_author'] + 1

# ubah kembali ke string jika diperlukan
df['id_author'] = df['id_author'].astype(int).astype(str)



# cek open_alex id yang kosong
df[df['openalex_id'].isnull()]

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
79,80,SUSMINI INDRIANI L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,209,SURYATNO W SOEGOTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,ANNISA SUCI RAMADANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,225,NANG PRIMADI TABRANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,238,MOCHAMAD EKKI HARDIAWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# tambah nidn dari authors_cleaned.csv berdasarkan nama yang sama
df = df.merge(authors[['fullname', 'nidn', 'programs_name', 'gelar_depan', 'gelar_belakang']], left_on='nama', right_on='fullname', how='left')

In [26]:
# save to csv
df.to_csv('dosen_openalex_by_name_only_cleaned.csv', index=False)

In [2]:
import pandas as pd

dfCleaned = pd.read_csv('dosen_openalex_by_name_only_cleaned.csv')
dfCleaned.head()

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness,fullname,nidn,programs_name,gelar_depan,gelar_belakang
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3.0,9.0,1.0,0.0,0.000000,EDDY SURYANTO SOEGOTO,0410036002,Ilmu Manajemen,Dr Ir,M.T
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76.0,461.0,12.0,17.0,1.500000,IRAWAN AFRIANTO,0405047901,Teknik Informatika,NaN,"S.T, M.T"
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.3340,67.0,306.0,11.0,12.0,2.212121,SENNY LUCKYARDI,0420028204,Manajemen Pemasaran,Dr,"S.P, M.M."
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14.0,20.0,3.0,0.0,0.000000,CHERRY DHARMAWAN,0420017201,Desain Interior,NaN,"S.Sn, M.Sn"
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45.0,44.0,4.0,2.0,1.000000,TARYANA SURYANA,0416126901,Ilmu Komunikasi,Ir,M.Kom

In [3]:
# programs_name yang kosong diisi dengan 'Tidak Diketahui'
dfCleaned['programs_name'].fillna('Tidak Diketahui', inplace=True)

# Programs unique values
dfCleaned['programs_name'].unique()

C:\Users\dewat\AppData\Local\Temp\ipykernel_21656\408524577.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dfCleaned['programs_name'].fillna('Tidak Diketahui', inplace=True)

array(['Ilmu Manajemen', 'Teknik Informatika', 'Manajemen Pemasaran',
       'Desain Interior', 'Ilmu Komunikasi', 'Teknik Komputer',
       'Sistem Informasi', 'Teknik Perencanaan Wilayah Dan Kota',
       'Akuntansi', 'Ilmu Hukum', 'Manajemen Informatika',
       'Tidak Diketahui', 'Teknik Elektro', 'Sistem Komputer',
       'Ilmu Pemerintahan', 'Komputerisasi Akuntansi', 'Manajemen',
       'Sastra Jepang', 'Teknik Industri', 'Teknik Arsitektur',
       'Sastra Inggris', 'Ilmu Hubungan Internasional', 'Desain',
       'Teknik Sipil', 'Desain Komunikasi Visual', 'Desain Grafis',
       'Keuangan Dan Perbankan'], dtype=object)

In [4]:
mapping_fakultas = {
    # Fakultas Ekonomi dan Bisnis
    "Ilmu Manajemen": "Fakultas Ekonomi dan Bisnis",
    "Manajemen": "Fakultas Ekonomi dan Bisnis",
    "Manajemen Pemasaran": "Fakultas Ekonomi dan Bisnis",
    "Akuntansi": "Fakultas Ekonomi dan Bisnis",
    "Keuangan Dan Perbankan": "Fakultas Ekonomi dan Bisnis",
    "Komputerisasi Akuntansi": "Fakultas Ekonomi dan Bisnis",

    # Fakultas Teknik dan Ilmu Komputer
    "Teknik Informatika": "Fakultas Teknik dan Ilmu Komputer",
    "Sistem Informasi": "Fakultas Teknik dan Ilmu Komputer",
    "Teknik Komputer": "Fakultas Teknik dan Ilmu Komputer",
    "Sistem Komputer": "Fakultas Teknik dan Ilmu Komputer",
    "Manajemen Informatika": "Fakultas Teknik dan Ilmu Komputer",

    # Fakultas Teknik dan Perencanaan
    "Teknik Elektro": "Fakultas Teknik dan Perencanaan",
    "Teknik Industri": "Fakultas Teknik dan Perencanaan",
    "Teknik Sipil": "Fakultas Teknik dan Perencanaan",
    "Teknik Arsitektur": "Fakultas Teknik dan Perencanaan",
    "Teknik Perencanaan Wilayah Dan Kota": "Fakultas Teknik dan Perencanaan",

    # Fakultas Desain
    "Desain": "Fakultas Desain",
    "Desain Interior": "Fakultas Desain",
    "Desain Komunikasi Visual": "Fakultas Desain",
    "Desain Grafis": "Fakultas Desain",

    # FISIP
    "Ilmu Komunikasi": "Fakultas Ilmu Sosial dan Ilmu Politik",
    "Ilmu Pemerintahan": "Fakultas Ilmu Sosial dan Ilmu Politik",
    "Ilmu Hubungan Internasional": "Fakultas Ilmu Sosial dan Ilmu Politik",

    # Fakultas Hukum
    "Ilmu Hukum": "Fakultas Hukum",

    # Fakultas Sastra
    "Sastra Inggris": "Fakultas Sastra",
    "Sastra Jepang": "Fakultas Sastra"
}

In [6]:
dfCleaned["Fakultas"] = dfCleaned["programs_name"].map(mapping_fakultas)

In [7]:
dfCleaned["Fakultas"] = dfCleaned["Fakultas"].fillna("Tidak Diketahui")

In [8]:
dfCleaned

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness,fullname,nidn,programs_name,gelar_depan,gelar_belakang,Fakultas
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3.0,9.0,1.0,0.0,0.000000,EDDY SURYANTO SOEGOTO,0410036002,Ilmu Manajemen,Dr Ir,M.T,Fakultas Ekonomi dan Bisnis
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76.0,461.0,12.0,17.0,1.500000,IRAWAN AFRIANTO,0405047901,Teknik Informatika,NaN,"S.T, M.T",Fakultas Teknik dan Ilmu Komputer
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.3340,67.0,306.0,11.0,12.0,2.212121,SENNY LUCKYARDI,0420028204,Manajemen Pemasaran,Dr,"S.P, M.M.",Fakultas Ekonomi dan Bisnis
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14.0,20.0,3.0,0.0,0.000000,CHERRY DHARMAWAN,0420017201,Desain Interior,NaN,"S.Sn, M.Sn",Fakultas Desain
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45.0,44.0,4.0,2.0,1.000000,TARYANA SURYANA,0416126901,Ilmu Komunikasi,Ir,M.Kom,Fakultas Ilmu Sosial dan Ilmu Politik
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,240,HADI KUSUMAH,https://openalex.org/A5046777516,NaN,1120.7740,12.0,41.0,3.0,2.0,0.000000,HADI KUSUMAH,2019210012,Tidak Diketahui,NaN,NaN,Tidak Diketahui
242,241,YONGKI ALEXANDER TANNE,https://openalex.org/A5070993779,https://orcid.org/0000-0002-0158-201X,1505.5566,17.0,21.0,2.0,1.0,1.266667,YONGKI ALEXANDER TANNE,0406069202,Teknik Sipil,NaN,"S.T, M.T",Fakultas Teknik dan Perencanaan
243,242,ZAINAL ARIFIN HASIBUAN,https://openalex.org/A5027993279,https://orcid.org/0000-0003-3307-915X,5976.2046,188.0,1203.0,17.0,36.0,6.035714,ZAINAL ARIFIN HASIBUAN,0024125904,Sistem Informasi,Ir,Ph.D,Fakultas Teknik dan Ilmu Komputer
244,243,BAMBANG SISWOYO,https://openalex.org/A5004210994,https://orcid.org/0000-0003-4476-6369,1878.6876,137.0,77.0,5.0,1.0,0.500000,BAMBANG SISWOYO,0023036801,Teknik Informatika,Ir,"M.Kom, M.Si, Ph.D",Fakultas Teknik dan Ilmu Komputer
245,244,NILUH AYU ANGGASWARI,https://openalex.org/A5104881620,NaN,726.7010,4.0,3.0,1.0,0.0,0.750000,NILUH AYU ANGGASWARI,0419059303,Ilmu Komunikasi,NaN,"S.I.Kom, M.I.Kom",Fakultas Ilmu Sosial dan Ilmu Politik

In [9]:
# expoert to csv
dfCleaned.to_csv('Tabel Author Done.csv', index=False)