In [1]:
import pandas as pd

authors = pd.read_csv('authors.csv')

# ubah column id menjadi id_author
authors.rename(columns={'id': 'id_author'}, inplace=True)

# hapus id_sinta, country, affiliation_name
authors.drop(columns=['id_sinta', 'country', 'affiliation_name'], inplace=True)

In [2]:
import pandas as pd

df = pd.read_csv('dosen_openalex_by_name_only.csv')

# ubah = dan " menjadi kosong 
df.replace({'=': '', '"': ''}, regex=True, inplace=True)

df

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3,9,1,0,0
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76,461,12,17,1.5
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.334,67,306,11,12,2.212121212121212
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14,20,3,0,0
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45,44,4,2,1
...,...,...,...,...,...,...,...,...,...,...
239,240,HADI KUSUMAH,https://openalex.org/A5046777516,NaN,1120.774,12,41,3,2,0
240,241,YONGKI ALEXANDER TANNE,https://openalex.org/A5070993779,https://orcid.org/0000-0002-0158-201X,1505.5566,17,21,2,1,1.2666666666666666
241,242,ZAINAL ARIFIN HASIBUAN,https://openalex.org/A5027993279,https://orcid.org/0000-0003-3307-915X,5976.2046,188,1203,17,36,6.035714285714286
242,243,BAMBANG SISWOYO,https://openalex.org/A5004210994,https://orcid.org/0000-0003-4476-6369,1878.6876,137,77,5,1,0.5
243,244,NILUH AYU ANGGASWARI,https://openalex.org/A5104881620,NaN,726.701,4,3,1,0,0.75

In [3]:
# cek open_alex id yang kosong count
df['openalex_id'].isnull().sum()

np.int64(5)

In [4]:
# cek open_alex id yang kosong
df[df['openalex_id'].isnull()]

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
79,SUSMINI INDRIANI L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,SURYATNO W SOEGOTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,ANNISA SUCI RAMADANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,NANG PRIMADI TABRANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,MOCHAMAD EKKI HARDIAWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# id_author bernama Susmini, suryatno, annisa, nang primadi, mochhamad valuenya pindahkan ke nama lalu id_author diisi dengan kosong
df.loc[df['id_author'].isin(['SUSMINI INDRIANI L', 'SURYATNO W SOEGOTO', 'ANNISA SUCI RAMADANI', 'NANG PRIMADI TABRANI', 'MOCHAMAD EKKI HARDIAWA']), 'nama'] = df['id_author']
df.loc[df['id_author'].isin(['SUSMINI INDRIANI L', 'SURYATNO W SOEGOTO', 'ANNISA SUCI RAMADANI', 'NANG PRIMADI TABRANI', 'MOCHAMAD EKKI HARDIAWA']), 'id_author'] = ''

In [6]:
import numpy as np
# ubah empty string menjadi NaN (numpy NaN)
df['id_author'] = df['id_author'].replace('', np.nan)

# ubah kolom menjadi float agar bisa ditambahkan
df['id_author'] = pd.to_numeric(df['id_author'], errors='coerce')

# isi NaN dengan nilai sebelumnya + 1
for i in range(len(df)):
    if pd.isna(df.loc[i, 'id_author']):
        df.loc[i, 'id_author'] = df.loc[i-1, 'id_author'] + 1

# ubah kembali ke string jika diperlukan
df['id_author'] = df['id_author'].astype(int).astype(str)



# cek open_alex id yang kosong
df[df['openalex_id'].isnull()]

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness
79,80,SUSMINI INDRIANI L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,209,SURYATNO W SOEGOTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,224,ANNISA SUCI RAMADANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,225,NANG PRIMADI TABRANI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,238,MOCHAMAD EKKI HARDIAWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# tambah nidn dari authors_cleaned.csv berdasarkan nama yang sama
df = df.merge(authors[['fullname', 'nidn']], left_on='nama', right_on='fullname', how='left')

In [8]:
# save to csv
df.to_csv('dosen_openalex_by_name_only_cleaned.csv', index=False)

In [9]:
df.head()

,id_author,nama,openalex_id,orcid,relevance_score,works_count,cited_by_count,h_index,i10_index,2yr_mean_citedness,fullname,nidn
0,1,EDDY SURYANTO SOEGOTO,https://openalex.org/A5048632251,NaN,1067.9547,3,9,1,0,0,EDDY SURYANTO SOEGOTO,0410036002
1,2,IRAWAN AFRIANTO,https://openalex.org/A5052898875,https://orcid.org/0000-0003-3245-6793,4054.9175,76,461,12,17,1.5,IRAWAN AFRIANTO,0405047901
2,3,SENNY LUCKYARDI,https://openalex.org/A5077761860,https://orcid.org/0000-0001-9954-7433,4759.334,67,306,11,12,2.212121212121212,SENNY LUCKYARDI,0420028204
3,4,CHERRY DHARMAWAN,https://openalex.org/A5030771199,https://orcid.org/0000-0002-5221-8787,934.8393,14,20,3,0,0,CHERRY DHARMAWAN,0420017201
4,5,TARYANA SURYANA,https://openalex.org/A5056478165,NaN,1517.8306,45,44,4,2,1,TARYANA SURYANA,0416126901